/*
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
*/

body {
  margin: 10px;
  text-align: center;
font-family: 'Merriweather','serif','sans-serif';
border-radius: 15px;
border: 7px solid  #f1faeee1;

color: #1D3557;
}
#main{
  background:#dad7cd;
  margin-top:-15px;
  margin-bottom:5px;
}
#head2{
  text-align: center;
  margin-bottom: 10px;

}

img {
  width: 100px;
   
}
.header,.activities,.guide{
  padding:20px;
}
 .header{
  background-image: url("images/john-davidson-lCdayu-e9rY-unsplash.jpg");
  background-size: contain;
 height: 300px;                 /* make it rectangular */
              /* ensures text readable */
    
 
}
#heading,#para{
  color: #F1FAEE;
  font-size: large;
  text-shadow: 0px 0px 4px black;
  display:block;
  margin : 10px auto 10px auto;
  width: fit-content;
  padding-top:5px;
  padding-right: 10px;
  padding-bottom:5px;
  padding-left: 10px;
   
  transform-style: preserve-3d;

}
#heading{
background-color: #A8DADC;
}
#para{
background-color: #1D3557;
}

.activities{
  background: #F1FAEE;
  
  
}



.activity-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  
}

 .activity-container div {
  width: 250px;
} 

.activity-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.activities {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.guide{

 width: 400px;
    margin:30px auto 30px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background:  #A8DADC;
    gap:30px;
    border-bottom: 5px solid #1D3557;
}
#logo{
  width: 180px;
}
#ul{
    border-bottom: 5px solid #1D3557;
  
}
.header:hover{
  background-image: url("https://bl-i.thgim.com/public/incoming/k1ogd6/article66507008.ece/alternates/LANDSCAPE_1200/24hyngg_%20Secretariat%20building%2002.jpg");
  background-size:contain;
  height:400px;
  display:block;
  margin : 10px auto 10px auto;
  
  /* padding-top:5px;
  padding-right: 10px;
  padding-bottom:5px;
  padding-left: 10px; */
  
  transition:  background-image 0.4s ease-in-out;
  

}
#gol:hover,#hus:hover,#chow:hover{
   width: 250px;
  height: 250px;
  border: 7px solid white;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  transform:scale(1.10);
  transition: transform 0.4s ease, box-shadow 0.4s ease, border 0.4s ease;
}
 .guide:hover{
  width:450px;
   margin:15px auto 15px auto;
    padding: 20px;
    background-image: url("https://storage.googleapis.com/cdn-website-bolddesk/2023/12/2097d638-thank-you-notes-banner-image.jpg") ;
    background-size: cover;
  transition: background-image 0.5s ease-in-out;
 
    
  
  
 }
 .guide:hover img,
.guide:hover h3,
.guide:hover p {

  opacity: 0;                /* makes them invisible */
  transition: opacity 0.3s ease;  /* smooth fade out */
}